.video {
  position: fixed; /* Rögzíti a képernyőhöz képest */
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Minden más mögé helyezi */
  object-fit: cover; /* Kitölti a képernyőt torzítás nélkül */
  
  /* A korábban beállított szűrők maradnak */
  filter: brightness(1.1) contrast(120%) blur(1px);
}