<!DOCTYPE html>
<html>
<head>
    <title>Email Megerősítés</title>
</head>
<body style="font-family: sans-serif; text-align: center; background-color: #f4f4f4; padding: 40px;">

    <div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 20px; border-radius: 10px;">
        <h2 style="color: #436F4D;">Üdv a MatekTanár Projekt fedélzetén!</h2>
        <p style="font-size: 16px;">Már csak egy lépés van hátra, hogy aktiváld a fiókodat és elindítsd a 30 napos ingyenes prémium időszakodat.</p>
        <p style="font-size: 16px;">Kérjük, kattints az alábbi gombra az email címed megerősítéséhez:</p>
        <a href="{{ confirm_url }}" style="display: inline-block; background-color: #CD2A3E; color: white; padding: 15px 25px; text-decoration: none; border-radius: 5px; font-size: 18px; margin-top: 20px; margin-bottom: 20px;">Email Cím Megerősítése</a>
        <p style="font-size: 12px; color: #888;">Ha nem te regisztráltál, hagyd figyelmen kívül ezt az emailt.</p>
    </div>

</body>
</html>